<%= form_with(model: @users_best, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :dishes_id %>

    <%= f.collection_select :dishes_id, Dish.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :venue_id, value: @venue.id %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create users best", class: "btn btn-block btn-outline-secondary" %>
<% end %>
